@{
    ViewData["Title"] = "Task Added";
}

@model Mission8.Models.TaskResponse

<br />
<center><h3>Task <span><b>@Model.Task</b></span> received.</h3></center>
<center><h4>Thank you for adding a new task!</h4></center>