@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Style for the matrix container */
    .matrix-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    /* Style for each quadrant */
    .quadrant {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 50%;
        padding: 20px;
        text-align: center;
    }

    /* Style for the cell colors */
    .quadrant-1 {
        background-color: #fcf8e3;
    }

    .quadrant-2 {
        background-color: #dff0d8;
    }

    .quadrant-3 {
        background-color: #f2dede;
    }

    .quadrant-4 {
        background-color: #d9edf7;
    }

    /* Style for the text inside each quadrant */
    .quadrant-text {
        font-size: 24px;
        font-weight: bold;
    }
</style>

<div class="matrix-container">
    <div class="quadrant quadrant-1">
        <div class="quadrant-text">Do First</div>
    </div>
    <div class="quadrant quadrant-2">
        <div class="quadrant-text">Schedule</div>
    </div>
    <div class="quadrant quadrant-3">
        <div class="quadrant-text">Delegate</div>
    </div>
    <div class="quadrant quadrant-4">
        <div class="quadrant-text">Eliminate</div>
    </div>
    <div class="quadrant quadrant-1">
        <div class="quadrant-text">Crisis</div>
    </div>
    <div class="quadrant quadrant-2">
        <div class="quadrant-text">Prevention, Planning, Improvement</div>
    </div>
    <div class="quadrant quadrant-3">
        <div class="quadrant-text">Interruptions, Some Calls, Some Emails</div>
    </div>
    <div class="quadrant quadrant-4">
        <div class="quadrant-text">Time Wasters</div>
    </div>
    <div class="quadrant quadrant-1">
        <div class="quadrant-text">Pressing Problems</div>
    </div>
    <div class="quadrant quadrant-2">
        <div class="quadrant-text">Relationship Building, Learning, Recognizing New Opportunities</div>
    </div>
    <div class="quadrant quadrant-3">
        <div class="quadrant-text">Some Meetings, Some Calls, Some Emails</div>
    </div>
    <div class="quadrant quadrant-4">
        <div class="quadrant-text">Escape Activities, Excessive TV, Social Media, Gaming</div>
    </div>
</div>
