@{ ViewData["Title"] = "Home Page"; }

@model List<TaskResponse>
<style>
    .vertical-text {
        writing-mode: vertical-lr; /* sets vertical text from left to right */
        transform: rotate(-180deg); /* rotates text 180 degrees to make it read from top to bottom */
    }

    h3 {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container {
        text-align: center;
    }
</style>


<div class="container">
    <h3>Stephen Covey's Time Management Matrix</h3>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5"><h4>Urgent</h4></div>
        <div class="col-5"><h4>Not Urgent</h4></div>
    </div><br />
    <div class="row">
        <div class="col-2"><h4 class="vertical-text">Important</h4></div>
        <div class="col-5">
            @foreach (var x in Model)
            {
                if (x.Completed == false && x.QuadrantId == 1)
                {
                    <p>@x.Task</p>
                }

            }
    </div>
    <div class="col-5">
        @foreach (var x in Model)
        {
            if (x.Completed == false && x.QuadrantId == 2)
            {
            <p>@x.Task</p>                
            }

            }
    </div>
</div><br /><br />
<div class="row">
    <div class="col-2"><h4 class="vertical-text">Not Important</h4></div>
    <div class="col-5">
        @foreach (var x in Model)
        {
            if (x.Completed == false && x.QuadrantId == 3)
            {
            <p>@x.Task</p>                
            }

            }
    </div>
    <div class="col-5">
        @foreach (var x in Model)
        {
            if (x.Completed == false && x.QuadrantId == 4)
            {
            <p>@x.Task</p>                
            }

            }
    </div>

</div>

</div>
